:root {
  --color-light: #b4b4b4;
  --bg-color: #f3f3f3;
  --btn-color-red: #d81c1c;
  --btn-color-green: #5bae9e;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #5bae9e;
  border-radius: 8px;
  
}
body::-webkit-scrollbar-thumb:hover {
    background-color:#376b61
}

body {
  background-color: var(--bg-color);

  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  input,
  select {
    border: 1px solid #000000;
    margin-right: 1em;

    border-radius: 5px;
  }
  label {
    margin-right: 0.5em;
  }
  table,
  td,
  th {
    padding: 0.3em;
  }
  th {
    color: #f3f2f2;
    background-color: #989bb6;
  }

  tbody tr:nth-child(odd) {
    background-color: #fdfdfd;
  }

  tbody tr:nth-child(even) {
    background-color: #f3f2f2;
  }

  input,
  select {
    border: solid 1px rgb(204, 204, 204);
    focus: outline-none;
  }
  span {
    font-weight: bold;
  }
}
.wave {
  background-image: url("./src/images/wave_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
